<div class="container mt-4" >
  <div class="row">
@for(appointment of appointments(); track  appointment.id) {
  <div class="col-md-6 col-lg-4 mb-3" >
    
      <div class="card h-100">
        <a [routerLink]="['/appointment', appointment.id]" [queryParams]="appointment">
        <div class="card-body">
          <h5 class="card-title">{{ appointment.clientName }}</h5>
          <p class="card-text">Date & Time: {{ appointment.date }}</p>
          <p class="card-text">Type: {{ appointment.type }}</p>
          <p class="card-text">Status: {{ appointment.status }}</p>
        </div>
      </a>
        <div class="card-footer">
          <button (click)="confirm1($event); clickedId = appointment.id" pButton type="button" label="Cancel" class="p-button-danger"></button>
        </div>
      </div>
    
  </div>
}  @empty {
  <div class="col-md-12">
    <h1 class="text-center fs-10">No appointments found.</h1>
  </div>
}

  <!-- Cancel Confirmation Dialog -->
 
</div>
<p-toast />
<p-confirmDialog />